{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Biblios</h1>
            <p class="lead">Online catalog for mediatech Trifouillis-les-Oies</p>
            <a class="btn btn-lg btn-light" href="#">Browse catalog</a>
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Biblios: what is it?</h2>
                    <p class="lead">Biblios is the platform for consulting the catalog of the Trifouillis-les-Oies media library. Explore our collection with efficient search, check the availability of books in real time, and make reservations with ease. Biblios is committed to facilitating access to culture and promoting the richness of our literary heritage.</p>
                    <p>Key Functionalities :</p>
                    <ul>
                        <li>Advanced book search</li>
                        <li>Real-time consultation of the status of the works (available, borrowed, unavailable)</li>
                        <li>Detailed view of book information</li>
                        <li>Simplified booking process</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}