{% extends 'base.html.twig' %}

{% block title %}Editor list
{% endblock %}

{% block body %}
	<section class="container px-4">
		<h1>Editor list</h1>
		<ul class="list-group list-group-flush mt-4">
			{% for editor in editors %}
				<div class="card mb-1">
					<div class="card-body">
						<div class="card-title d-flex justify-content-between">
							<a href="{{ path('app_admin_editor_show', {id: editor.id}) }}" class="stretched-link link-dark">
								<h4 class="mb-1">{{ editor.name }}</h4>
							</a>
							<small class="text-muted">Id :
								{{ editor.id }}</small>
						</div>
					</div>
				</div>

			{% else %}
				<li>No data saved in database.</li>
			{% endfor %}
		</ul>
		<div class="mt-4">
			{{ pagerfanta(editors) }}
		</div>
	</section>
{% endblock %}
