html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

main {
  flex-grow: 1;
}

.book-picture {
  height: 50vh;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .book-picture {
    height: 30vh;
    /* Adjust the height for smaller screens */

  }
}